html,body {
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 62px;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 42, 42);
    
    
}

.content-grid {
    margin: 16px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.grid-item {
    box-sizing: border-box;
    background-color: rgb(203, 203, 203);
    border-top: 1px solid rgb(78, 78, 78);
    border-left: 1px solid rgb(78, 78, 78);
}

.grid-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-size p {
    margin: 0;
    margin-bottom: 12px;
}

